body {
    font-family: 'Oswald', sans-serif;
    padding: 5%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 110%;
}

h1 {
    font-family: 'EB Garamond', serif;
    font-size: 400%;

}

h1 > a {
    /*fix this*/
    color: red;
    text-decoration: none;
}

h1 > a:link {
    color: black;
}

h1 > a:visited {
    color: black;
}

h1 > a:hover {
    color: black;
}

h1> a:active {
    color: black;
}

p {
    font-size: 125%;
}

#mission_statement {
    font-size: 130%;
    margin-top: -2%;
    max-width: 500px;
}

#landing {
}

#landing > .nav_bar {
    margin-top: 2%;
    margin-bottom: 5%;
}

#landing > .nav_bar > a {
    font-size: 150%;
    border-bottom: 4px solid black;
    padding-right: 4%;
    margin-right: 2%;
    text-decoration: none;
}

a:link {
    color: #7399d6;
}

a:visited {
    color: #29374f;
}

a:hover {
    color: #29374f;
}

a:active {
    color: #29374f;
}

.partner {
    margin-top: 1%;
}
.partner > .name{
    margin: 2%;
    margin-left: 0;
    margin-bottom: 1%;
    color: lightpink;

    font-weight: bold;
    font-size: 120%;
}
.partner_info {
    padding: 1%;
    border-left: 4px black solid;
    margin-right: 0;
}

.contact {
    font-size: 120%;
}

.partner_contact {
    text-align:left;
    font-size: 125%;
}

.partner_contact {
    text-decoration: none;
}

.name, .book, .insta {
    display:inline;

}

.description_short {
    padding-left: 2%;
    max-width: 500px;
}

.description_long {
}

.partners {
}

.work_with_us {
}